.bef_color{
	color: #000000;/* 颜色-1 */
}
.aft_color{
	background: #ffffff;/* 颜色-2 */
}
.bef_border{
	border: 1px solid #000000; /* 颜色-1 */
}
.enter_blog a:hover{
	color: #ffffff;/* 颜色-1-反 */
	background: #000000;/* 颜色-2-反 */
	border: 1px solid #ffffff;/* 颜色-1-反 */
}
#sig_svg path{
	stroke: #000000;/* 颜色-1 */
}